doctype html
html(lang='ru', ng-app="app")

    head

        title belokor

        link(rel='stylesheet', href='styles/index.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Philosopher:400,700&subset=latin,cyrillic')

        script(src='bower_components/angular/angular.min.js')
        script(src='bower_components/angular-route/angular-route.min.js')

        script.

            angular.module('app', ['ngRoute'])

                .config(function ($routeProvider) {
                    $routeProvider
                        .when('/', {
                            name: 'index',
                            template: '',
                        })
                        .when('/works', {
                            name: 'works',
                            template: '',
                        })
                        .when('/reviews', {
                            name: 'reviews',
                            template: '',
                        })
                        .when('/contacts', {
                            name: 'contacts',
                            template: '',
                        })
                        .otherwise({
                            redirectTo: '/',
                        })
                    ;
                })

                .run(function ($rootScope) {
                    $rootScope.$on('$routeChangeSuccess', function ($evt, route) {
                        $rootScope.route= route
                    })

                    $rootScope.contact= {
                        $disabled: false,
                        name: {
                            value: null,
                        },
                        email: {
                            value: null,
                        },
                        message: {
                            value: null,
                        },
                        send: function () {
                            this.$disabled= true
                            console.log('send', this)
                        }
                    }
                })

            ;


    body.app

        div(ng-view)



        header.app__head

            .container

                .app-head
                    h1.app-head__brand
                        a(href="#/")

                            //img.b-logo__shadow(src='content/ico-love.svg')
                            //img.b-logo(src='content/ico-love.svg')

                            //img.b-logo__shadow(src='content/ico-logo1.svg')
                            //img.b-logo(src='content/ico-logo1.svg')

                            //.b-logo.b-logo_2
                                img.b-logo__logo_shadow(src='content/ico-logo2.svg')
                                img.b-logo__logo(src='content/ico-logo2.svg')

                            //.b-logo.b-logo_3
                                img.b-logo__logo_shadow(src='content/ico-logo3.svg')
                                img.b-logo__logo(src='content/ico-logo3.svg')

                            .b-logo.b-logo_4
                                img.b-logo__logo_shadow(src='content/ico-logo4.svg')
                                img.b-logo__logo(src='content/ico-logo4.svg')

                            u <span>Валерий Х</span>.

                    nav.app-head__nav
                        a(href='#/works') Работы
                        a(href='#/reviews') Отзывы
                        a(href='#/contacts') Контакты



        section.app__sect

            .container

                h1 <span>Neque </span><span>porro </span><span>quisquam </span><span>est </span><span>qui</span><br><span>dolorem </span><span>ipsum </span><span>quia </span><span>dolor </span><span>sit </span><span>amet</span><b style='margin-right:-0.17em'>,</b><br><span>adipisci </span><span>velit</span><b style='margin-right:-0.17em'>.</b>

            .container

                .b-feat

                    .b-row
                        
                        .b-row__col.b-row__col_4
                            figure.b-feat__item
                                img(src='content/ico-pen.svg')
                                figcaption Копирайтинг<br>и рерайтинг

                        .b-row__col.b-row__col_4
                            figure.b-feat__item
                                img(src='content/ico-wand.svg')
                                figcaption Рекламные<br>слоганы

                        .b-row__col.b-row__col_4
                            figure.b-feat__item
                                img(src='content/ico-airplane.svg')
                                figcaption Коммерческие<br>предложения

            //.b-work
                .b-work__inner
                    .b-work__items
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item

        section.app__over.app-over(ng-show="route.name=='works'")
            .app-over__inner: .container

                h1 <span>Скоро</span>.

        section.app__over.app-over(ng-show="route.name=='reviews'")
            .app-over__inner: .container

                h1 <span>Скоро</span>.


        section.app__over.app-over(ng-show="route.name=='contacts'")
            .app-over__inner: .container

                h1 <span>Счастливого и доброго</span><br><span>нового года, дорогие друзья</span>!<br><span>Напишите мне</span> — ?

                .b-contacts
                    form.b-contacts__form(ng-submit="contact.send()")
                        input(type='name', ng-model="contact.name.value", placeholder="Как вас зовут?", required, autocomplete="on")
                        input(type='email', ng-model="contact.email.value", placeholder="На какой email ответить?", autocomplete="on")
                        textarea(name="message", ng-model="contact.message.value", rows="5", placeholder="", required)
                        button(type="submit", ng-disabled="contact.$disabled") Написать

        footer.app__foot

            .container

                p © 2015
