doctype html
html(lang='ru', ng-app="app")

    head

        title belokor

        link(rel='stylesheet', href='styles/index.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Philosopher:400,700&subset=latin,cyrillic')

        script(src='bower_components/angular/angular.min.js')
        script(src='bower_components/angular-route/angular-route.min.js')
        script(src='bower_components/angular-resource/angular-resource.min.js')

        script.

            angular.module('app', ['ngRoute','ngResource'])

                .config(function ($routeProvider) {
                    $routeProvider
                        .when('/', {
                            name: 'index',
                            template: '',
                        })
                        .when('/works', {
                            name: 'works',
                            template: '',
                        })
                        .when('/reviews', {
                            name: 'reviews',
                            template: '',
                        })
                        .when('/contacts', {
                            name: 'contacts',
                            template: '',
                        })
                        .otherwise({
                            redirectTo: '/',
                        })
                    ;
                })

                .run(function ($rootScope, Contact) {
                    $rootScope.$on('$routeChangeSuccess', function ($evt, route) {
                        $rootScope.route= route
                    })

                    $rootScope.contact= new Contact
                    $rootScope.contact.$resolved= true

                    $rootScope.contactSave= function (contact, ContactForm) {
                        ContactForm.$setPristine(true)
                        contact.$save(function (data) {
                            contact.message= null
                        }, function () {
                            ContactForm.$setPristine(false)
                        })
                    }
                })

                .factory('Contact', function ($resource) {
                    return $resource('/api/v1/contact')
                })

            ;


    body.app

        div(ng-view)



        header.app__head

            .container

                .app-head
                    h1.app-head__brand
                        a(href="#/")

                            //img.b-logo__shadow(src='content/ico-love.svg')
                            //img.b-logo(src='content/ico-love.svg')

                            //img.b-logo__shadow(src='content/ico-logo1.svg')
                            //img.b-logo(src='content/ico-logo1.svg')

                            //.b-logo.b-logo_2
                                img.b-logo__logo_shadow(src='content/ico-logo2.svg')
                                img.b-logo__logo(src='content/ico-logo2.svg')

                            //.b-logo.b-logo_3
                                img.b-logo__logo_shadow(src='content/ico-logo3.svg')
                                img.b-logo__logo(src='content/ico-logo3.svg')

                            .b-logo.b-logo_4
                                img.b-logo__logo_shadow(src='content/ico-logo4.svg')
                                img.b-logo__logo(src='content/ico-logo4.svg')

                            u <span>Валерий Х</span>.

                    nav.app-head__nav
                        a(href='#/works') Работы
                        a(href='#/reviews') Отзывы
                        a(href='#/contacts') Контакты



        section.app__sect

            .container

                h1 <span>Neque </span><span>porro </span><span>quisquam </span><span>est </span><span>qui</span><br><span>dolorem </span><span>ipsum </span><span>quia </span><span>dolor </span><span>sit </span><span>amet</span><b style='margin-right:-0.17em'>,</b><br><span>adipisci </span><span>velit</span><b style='margin-right:-0.17em'>.</b>

            .container

                .b-feat

                    .b-row
                        
                        .b-row__col.b-row__col_4
                            figure.b-feat__item
                                img(src='content/ico-pen.svg')
                                figcaption Копирайтинг<br>и рерайтинг

                        .b-row__col.b-row__col_4
                            figure.b-feat__item
                                img(src='content/ico-wand.svg')
                                figcaption Рекламные<br>слоганы

                        .b-row__col.b-row__col_4
                            figure.b-feat__item
                                img(src='content/ico-airplane.svg')
                                figcaption Коммерческие<br>предложения

            //.b-work
                .b-work__inner
                    .b-work__items
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item

        section.app__over.app-over(ng-show="route.name=='works'")
            .app-over__inner: .container

                h1 <span>Скоро</span>.

        section.app__over.app-over(ng-show="route.name=='reviews'")
            .app-over__inner: .container

                h1 <span>Скоро</span>.


        section.app__over.app-over(ng-show="route.name=='contacts'")
            .app-over__inner: .container

                h1 <span>Счастливого и доброго</span><br><span>нового года, дорогие друзья</span><b style="margin-right:-0.17em">!</b><br><span>Напишите мне</span><b style="margin-right:-1.5em"> — ?</b>

                .b-contacts
                    form.b-contacts__form(name="ContactForm", ng-submit="contactSave(contact, ContactForm)")
                        input(type='text', name="name", ng-model="contact.name", placeholder="Как вас зовут?", required, autocomplete="on")
                        input(type='email', name="email", ng-model="contact.email", placeholder="На какой email ответить?", required, autocomplete="on")
                        textarea(name="message", ng-model="contact.message", rows="5", placeholder="", required)
                        button(type="submit", ng-disabled="ContactForm.$invalid || (ContactForm.name.$invalid&&ContactForm.email.$invalid) || ContactForm.$pristine") Написать

        footer.app__foot

            .container

                p © 2015
