doctype html
html(lang='ru')

    head

        title belokor

        link(rel='stylesheet', href='styles/index.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Philosopher:400,700&subset=latin,cyrillic')

    body.app



        header.app__head

            .container

                .app-head
                    h1.app-head__brand
                        a(href="#/")

                            //img.b-logo__shadow(src='content/ico-love.svg')
                            //img.b-logo(src='content/ico-love.svg')

                            //img.b-logo__shadow(src='content/ico-logo1.svg')
                            //img.b-logo(src='content/ico-logo1.svg')

                            //.b-logo.b-logo_2
                                img.b-logo__logo_shadow(src='content/ico-logo2.svg')
                                img.b-logo__logo(src='content/ico-logo2.svg')

                            //.b-logo.b-logo_3
                                img.b-logo__logo_shadow(src='content/ico-logo3.svg')
                                img.b-logo__logo(src='content/ico-logo3.svg')

                            .b-logo.b-logo_4
                                img.b-logo__logo_shadow(src='content/ico-logo4.svg')
                                img.b-logo__logo(src='content/ico-logo4.svg')

                            u Валерий Х.

                    nav.app-head__nav
                        a(href='#/work') Работы
                        a(href='#/work') Отзывы
                        a(href='#/contacts') Контакты



        section.app__sect

            .container

                h1 <span>Neque </span><span>porro </span><span>quisquam </span><span>est </span><span>qui </span><span>dolorem </span><span>ipsum </span><span>quia </span><span>dolor </span><span>sit </span><span>amet, </span><span>consectetur, </span><span>adipisci </span><span>velit!</span>

            .container

                .b-feat

                    .b-row
                        
                        .b-row__col.b-row__col_4
                            figure.b-feat__item
                                img(src='content/ico-pen.svg')
                                figcaption Копирайтинг<br>и рерайтинг

                        .b-row__col.b-row__col_4
                            figure.b-feat__item
                                img(src='content/ico-wand.svg')
                                figcaption Рекламные<br>слоганы

                        .b-row__col.b-row__col_4
                            figure.b-feat__item
                                img(src='content/ico-airplane.svg')
                                figcaption Коммерческие<br>предложения

            //.b-work
                .b-work__inner
                    .b-work__items
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item
                        .b-work__item
                            .b-work-item item



        footer.app__foot

            .container

                p © 2015
